table{
  width: 300px;
  height: 300px;
  margin: auto;
  background-color: black;
}

td{
  text-align: center;
  font-size: 25px;
}

#logo{
  background-color: rgb(228, 248, 48);
  width: 90px;
  height: 80px;
}
#menu{
  background-color: rgb(252, 7, 7);
}
#news{
  background-color: rgb(168, 79, 44);
  color: white
}
#other{
  background-color: rgb(228, 248, 48);
}
#nav{
  background-color: rgb(17, 6, 4);
  color: white;
  width: 30px;
}
#footer{
  background-color: rgb(228, 248, 48);
  height: 60px;
}
