body{
  font-family: Roboto;
  display: flex;

}

.dayView{
  padding: 80px 140px;
  flex-grow: 2;
}

.dayView__title{
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;

  border-bottom: 2px solid #F3F3F3;

}

.dayView__text{
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;

  color: #243D6F;
}

.dayView__action{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}
.dayView__search,
.dayView__layout{
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.dayView__timeList{
  list-style: none;
  padding-top: 100px;
}

.dayView__timeRow{
  position: relative;
  display: block;
  height: 120px;
  margin-left: 135px;
  border-top: 2px solid #F3F3F3;
  box-sizing: border-box;
}

.dayView__timeKey{
  position: absolute;
  top: 0;
  left: -135px;
  transform: translateY(-50%);

  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  color: #A4B0C3;
}

.dayView__event{
  position: absolute;
  top: 0;
  left: 0;

  size: 28px;

  width: 100%;
  padding: 12px 75px;
  border-left: 6px solid;
  box-sizing: border-box;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  z-index: 1;
}

.dayView__event--finans{
  background-color: rgba(133, 118, 237, 0.15);;
  border-color: #8576ED;
}

.dayView__event--managtmen{
  background-color: rgba(61, 131, 249, 0.15);;
  border-color: #3D83F9;
}

.dayView__event--design{
  background-color: rgba(238, 165, 124, 0.15);;
  border-color: #EEA57C;
}

.mounthView{
  flex-grow: 1;
  flex-basis: 200px;
  background-color: rgba(42, 46, 65, 0.7);
  padding: 20px 50px 50px 100px;
  box-sizing: border-box;
  
  display: flex;
  flex-direction: column;

}

.mounthView__header{
  flex 1 0 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.header__interactive{
  font-size: 36px;
}

.header__interactiveButton{
  width: 20px;
  height: 40px;
  background-color: aqua;
}

.mounthView__calenarTable{
  flex: 1 0 0 ;
  width: 100%;
  max-height: 500px;

  border-top: 2px solid #0000002f;
  border-bottom: 2px solid #0000002f;
  box-sizing: border-box;
  padding: 20px 0;

}
tr{
  height: 50px;
  padding: auto;

}
td{
  width: 50px;
  text-align: center;
}

td:hover{
  border-radius: 100%;
  background-color: blue;
}

.mounthView__changeCategory{
  flex: 1 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mounthView__title{
  font-size: 30px;
}

.mounthView__category{
  width: 100%;

  display: flex;
  flex-wrap: wrap;
}

.mounthView__category--click{
  width: 40%;
  height: 50px;
  margin: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;


  background-color: rgb(240, 50, 50);
}