.rating_block{
  width: 200px;
  height: 40px;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
}

.buttom_star{
  display: none;

}


.card__rating-star {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 30px;
  height: 30px;
  margin-top: 5px;
  margin-right: 6px; 

  fill: #979692;
}

.rating_block label svg path:hover{
  fill: rgb(255, 255, 0);
}

.rating_block label:hover ~ label svg path{
  fill: rgb(255, 255, 0);
}

.rating_block .buttom_star:checked ~ label svg path{
  fill: rgb(255, 255, 0);
}
