.rating_block{
  width: 200px;
  height: 40px;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
}

.radio_star{
  display: none;

}

.star_img {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 30px;
  height: 30px;
  margin-top: 5px;
  margin-right: 6px; 

  fill: #979692;
}

.rating_block label .star_img:hover{
  fill: rgb(255, 255, 0);
}

.rating_block label:hover ~ label .star_img{
  fill: rgb(255, 255, 0);
}

.rating_block .radio_star:checked ~ label .star_img{
  fill: rgb(255, 255, 0);
}

