/* лекція 4 макет
лекція 14 grid
лекція 8 дата календар 
*/
html{
  height: 100%;
}
body{
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Roboto;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.taskBoard{
  padding: 50px 140px;
  display: grid;
  grid-template-rows: 100px 1fr;
}

.taskBoard__view{
  display: flex;
  flex-direction: column;
  font-weight: 500px;
  font-size: 36px;
  line-height: 42px;
  padding-bottom: 90px;
  border-bottom: 1px solid rgb(185, 183, 183);
}

.taskBoard__viev--Data{
  font-size: 36px;
}

.taskBoard__viev--Week{
  font-size: 25px;
}

.taskBoard__taskDay{
  list-style: none;
  padding: 30px 0 0 0;
  margin: 0%;
}

.taskBoard__rowOfDay{
  position: relative;
  height: 42px;
  margin-left: 60px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(199, 198, 198);
}

.taskBoard__timeKey{
  position: absolute;
  top: 0;
  left: -60px;

  transform: translateY(0%);


  font-weight: 500px;
  font-size: 15px;
  line-height: 42px;
}

.taskBoard__event{
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  padding-left: 10px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.taskBoard__event--active{
  background-color: rgb(175, 203, 211);
  border-left: 6px solid rgb(74, 144, 209);
  box-sizing: border-box;
  height: 100%;
}




.navCal{
  background-color: chartreuse;
  display: grid;
  grid-template-rows: 180px 1fr;

  background-color: rgb(107, 107, 107);
}


.navCal__muve{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navCal__panel{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 350px;
  height: 100px;

  border-bottom: 3px solid rgba(182, 186, 189, 0.795);

}

.navCal__month{
  margin: auto;
  font-weight: 500px;
  font-size: 36px;
  line-height: 42px;
}

.navCal__muveBefore,
.navCal__muveAfter{
  width: 35px;
  height: 30px;

  font-size: 25px;
  text-align: center;

  background-color: rgb(63, 192, 192);
}


.navCal__calendar{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;

}

.navCal__calendarDay,
.navCal__calendarWeek{
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  list-style: none;
  padding: 0;
  margin: 0;
}
.navCal__calendarWeek{
  padding-bottom: 10px;
}

.CalendarDay,
.navCal__calendarWeek--Name{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin: auto;
  margin-top: 5px;
  font-style: italic;
  border: 1.5px solid rgb(58, 57, 57);
  background-color: rgb(105, 129, 228);
}

.navCal__calendarWeek--Name{
  font-size: 30;
  font-weight: bold;
}
.CalendarDay--notInSort{
  color: rgba(0, 0, 0, 0.439);
}

.CalendarDay:hover{
  background-color: rgb(163, 236, 241);
}
.CalendarDay--Active{
  background-color: blue;
}
